@using TechJunk.Web.Helpers
@{
    ViewBag.Title = "About Us";
}

<div class="about-wrapper">
    <h2>TechJunk is an online plaftorm for reselling everything "Tech".</h2>
    <h2>Old, new, used, unused, it doesn't matter. If you sell it someones gonna buy it.</h2>
</div>
<div class="double-container">
    <div class="img-container">
        @Html.Image("/Pics/Trash & Treasure.jpeg", "250px", "175px");
    </div>

    <p class="motto"><em><strong>Remember, one man's junk is another man's treasure!!!</strong></em></p>
</div>
