@model PagedList.IPagedList<TechJunk.Models.ViewModels.Sales.ShortSaleVm>
@{
    ViewBag.Title = "My Sales";
}

<div class="top-sales">
    <h1>My sales</h1>
</div>

<div>
    @Html.ActionLink("Add Sale", "Add", null, new { @class = "btn btn-lg btn-success" })
</div>

<div class="search-wrapper">
    @using (Html.BeginForm("Mine", "Sales", new { area = "" }, FormMethod.Get))
    {
        <strong> Search sales by Title and Category: </strong>
        @Html.TextBox("search", null, new { @class = "form-control" })
        @Html.EnumDropDownListFor(vm => vm.First().Category, "All", new { @class = "form-control" })
        <input type="submit" name="submit" value="Search" class="btn btn-default btn-md" />
    }
</div>

@Html.Partial("~/Views/Sales/_MineSales.cshtml", Model)

