@model HandleErrorInfo

<h1>Sorry, an error accured.</h1>
<h2>RangeError: @Model.Exception.Message</h2>
<img src="http://img.clipartall.com/sad-face-images-clipart-clipart-sad-face-1300_1300.jpg" alt="sad-face" />