
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Welcome to the Admin Panel</h2>
    <h3>Here you can view user's details, ban users, view sales and interests and delete them.</h3>
    <h3>You can also view user's feedbacks and respond to them if necessary.</h3>
</div>

